<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWbVYbP4VKilRWV2LozgcgjFY3p4e5xy0</string>
	<key>GCM_SENDER_ID</key>
	<string>699667299854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>F0de.AR-Viewer</string>
	<key>PROJECT_ID</key>
	<string>ar-viewer-6dc00</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-viewer-6dc00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699667299854:ios:a419ffde7d46674103865f</string>
</dict>
</plist>